/*
|.------------------------------------------------------------------
| = 10. Buttons
|--------------------------------------------------------------------------
*/
// Here you use empty hook type variables that can be edited in the custom
.button { // basic button style}
  //@include padding($size: md);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  font-size: var(--btn-font-size, 1rem);
  padding-top: var(--btn-padding-y, 0.5rem);
  padding-bottom: var(--btn-padding-y, 0.5rem);
  padding-left: var(--btn-padding-x, 0.75rem);
  padding-right: var(--btn-padding-x, 0.75rem);
  border-radius: var(--btn-radius, 0.25rem);
  background-color: var(--theme-color-primary-light, #4D84F4);
}

// themes
.button--primary {
  background-color: var(--theme-color-primary, hsl(220, 90%, 56%));
  color: var(--theme-color-white, hsl(0, 0%, 100%));
}

.button--subtle {
  background-color: var(--theme-color-contrast-low, hsl(240, 1%, 83%));
  color: var(--theme-color-contrast-higher, hsl(240, 8%, 12%));
}

.button--accent {
  background-color: var(--theme-color-accent, hsl(349, 75%, 51%));
  color: var(--theme-color-white, hsl(0, 0%, 100%));
}

// size
.button--sm { font-size: var(--btn-font-size-sm, 0.8rem); }
.button--sm { font-size: var(--btn-font-size-md, 1.2rem); }
.button--sm { font-size: var(--btn-font-size-lg, 1.4rem); }

// btn with icon (only)
.button--icon { padding: var(--btn-padding-y, 0.5rem); }