/*
|--------------------------------------------------------------------------
| = 16. Components
|--------------------------------------------------------------------------
*/
/* = 16.1 Author Box */
.theme-content{
    .author-box{
        line-height: var(--theme-body-line-height);
        @include spacing( $direction: ud, $size: var(--theme-space-lg) );
        //@include spacing( $attr: margin, $direction: b, $size: var(--theme-space-md) );
        border-top: 0.1rem solid var(--theme-white-ter);
        border-bottom: 0.1rem solid var(--theme-white-ter);

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;

        .author-box--avatar{
            width: 80px; // var(--theme-space-xxl);
            @include spacing($direction: r, $size: var(--theme-space-x));
            img{
                width: 70px;
                height: auto;
                max-width: none;
            }
            @include breakpoint(tablet){
                width: 100px; // var(--theme-space-xxl);
            }
        }
        .author-box--meta{
            .author-box--meta__header{
                a{
                    font-weight: 700;
                    color: var(--theme-color-black);
                    text-decoration: none;
                }
            }
            /* > div{
                margin-bottom: var(--theme-space-xxs);
            } */
        }
    }
}

/* = 16.2 Post Nav */
.theme-content{
    .posts-nav{
        /* @include spacing($attr: margin, $direction: b, $size: var(--theme-space-md)); */
        @include spacing( $direction: y, $size: var(--theme-space-lg) );
        font-size: 15px; // parent font [em inner]
        display: block;
        @include breakpoint(tablet){
            display: flex;
            justify-content: space-between;
        }
        .post-nav{
            @include spacing($attr: margin, $direction: b, $size: var(--theme-space-md));
            display: inline-block;
            width: 100%;
            @include breakpoint(tablet){
                width: 50%;
            }
            &:last-child{
                @include spacing($attr: margin, $direction: b, $size: 0);
            }
        }
        .post-nav__prev,.post-nav__next{
            .post-nav__prev--header{
                margin-bottom: var(--theme-space-sm);
                text-transform: uppercase;
                display: block;
            }
            .post-nav__prev--title{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* number of lines to show */

                line-height: var(--theme-text-scale-ratio);
                font-size: .9em;
                @include breakpoint(tablet){
                    font-size: 1em;
                }
            }
        }
        a{
            color: var(--theme-color-black);
            text-decoration: none;
            line-height: 1;
            font-size: em( var(--theme-text-base-size) );
            img{
                float: left;
                @include spacing($attr: margin, $direction: r, $size: var(--theme-space-sm));
            }
        }
        .post-nav__next{
            img{
                float: right;
                @include spacing($attr: margin, $direction: l, $size: var(--theme-space-sm));
                margin-right: 0;
            }
            .post-nav__prev--header,.post-nav__prev--title{
                text-align: right;
            }
        }
    }
}

/* = 16.3 Comments */
.theme-comments{
    border-top: 0.1rem solid var(--theme-white-ter);
    a{
        font-size: 1.6rem;
    }
    .theme-comment-data{
        @include spacing($attr: margin, $direction: b, $size: var(--theme-space-sm));
        @include spacing( $direction: b, $size: var(--theme-space-sm));
        border-bottom: 0.1rem solid var(--theme-white-ter);
        .theme-comment-gravatar{
            width: 48px;
            height: 48px;
            @include spacing($attr: margin, $direction: r, $size: var(--theme-space-md));
            @include breakpoint(tablet){
                width: 64px;
                height: 64px;
            }
            img{
                object-fit: cover;
                width: 48px;
                height: 48px;
                @include breakpoint(tablet){
                    width: 64px;
                    height: 64px;
                }
            }
        }
        .theme-comment-metas{
            .theme-comment-meta-author{
                a{
                    color: var(--theme-black-ter);
                    font-weight: 700;
                    text-decoration: none;
                }
            }
            .theme-comment-meta-date{
                a{
                    color: var(--theme-color-link);
                }
            }
        }
    }
    .theme-comment-meta-links{
        &--separate{
            @include spacing($attr: margin, $direction: sides, $size: var(--theme-space-xxs));
            &:before{
                content: '·';
            }
        }
    }
    .comment-title{
        @include spacing($attr: margin, $direction: y, $size: var(--theme-space-lg));
    }
    .theme-comment-list{
        li.comment{
            @include spacing($direction: b, $size: var(--theme-space-lg));
            //@include spacing( $attr: margin, $direction: b, $size: var(--theme-space-lg));
            .theme-comment-content{
                p{
                    @include spacing($attr: margin, $direction: t, $size: var(--theme-space-lg));
                    &:first-child{
                        @include spacing($attr: margin, $direction: t, $size: 0);
                    }
                }
            }
            .children{
                @include spacing( $direction: left, $size: var(--theme-space-lg) );
                @include spacing( $attr: margin, $direction: top, $size: var(--theme-space-lg) );
            }
            :last-child{
                @include spacing( $attr: margin, $direction: b, $size: 0);
            }
        }
    }
    .comment-respond{
        form{
            input[type="text"]{
                width: 100%;
                @include breakpoint(mobile-lands){
                    width: 50%;
                }
            }
        }
    }
}

/* = 16.4 Menu */
.theme-header{
    .layout-header__nav{
        margin:0;
        padding: 0;
        list-style: none;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        //position: absolute;
        //left: -100%;
        li{
            a{
                display: block;
                text-decoration: none;
                color: #000;
                line-height: 1;
                text-transform: uppercase;
                font-size: 13px;
                padding: 7px 12px;
                letter-spacing: 1px;    //optional
            }
            &:hover{
                & > a{
                    background-color:rgba(#000,.1);
                }
            }
            &.li-active{
                a{
                    background-color: rgba(#000,.1);
                }
            }
            &.li-has-children{
                & > a{
                    display: flex;
                    align-items:center;
                    align-content:center;
                    &::after{
                        content: ">";
                        font-weight: bold;
                        //font-family: "Font Awesome 5 Free";
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        display: block;
                        margin-left: .5rem;
                    }
                }
                & > .submenu{
                    list-style: none;
                    background-color: rgba(#000,.1);
                    min-width: 150px;
                    //margin-left:5px;
                    display: none;
                    pointer-events: none;
                }
                &:hover{
                    & > .submenu{
                        display: block;
                        pointer-events: auto;
                    }
                }
            }
        }
        @include breakpoint(tablet){
            flex-direction: row;
            flex-wrap:wrap;
            //position: relative;
            //left: initial;
            li{
                &.li-has-children{
                    position: relative;
                    & > .submenu{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 100%;
                        z-index: 10;
                        visibility: hidden;
                        opacity: 0;
                        margin-left: 0;
                        transition: all .3s ease;
                        background-color: #fff;
                        box-shadow: 1px 1px 2px 0 rgba(#000,.5);
                        & .submenu{
                            left: 100%;
                            top: 0;
                        }
                    }
                    &:hover{
                        & > .submenu{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .layout-header__toggler{
        width: 20px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        cursor: pointer;
        span{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: all .3s ease;
            border-radius: 5px;
            &:nth-child(1){
                transition-delay: .3s;
            }
            &:nth-child(2){
                //width: 50%;
                transition: opacity .2s;
            }
            &:nth-child(3){
                width: 75%;
                transition-delay: .3s;
            }
        }
        &.active-movil-menu-toggle-btn{
            align-content: center;
            align-items: center;
            span{
                width: 100%;
                &:nth-child(1){
                    transform: rotate(-45deg) translateY(4px) translateX(-5px);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    transform: rotate(45deg) translateY(-4px) translateX(-5px);
                }
            }
        }
    }
}