/*
|--------------------------------------------------------------------------
| = 10. Components
|--------------------------------------------------------------------------
*/
/* = 10.1 Author Box */
.theme-content{
    .author-box{
        border-top: 0.1rem solid var(--theme-color-white-ter);
        border-bottom: 0.1rem solid var(--theme-color-white-ter);
        .author-box__avatar{
            width: calc( var(--wp-width-author-box-avatar) - 4px ); // 84px - 4px
            img{
                width: calc( var(--wp-width-author-box-avatar-img) - 14px );
                height: auto;
                max-width: none;
            }
            @include breakpoint(tablet){
                width: calc( var(--wp-width-author-box-avatar-img) + 16px );
            }
        }
        @include breakpoint(tablet){
            max-width: var(--wp-width-entry-max);
        }
    }
}

/* = 10.2 Post Nav */
.theme-content{
    .posts-nav{
        display: block;
        @include breakpoint(tablet){
            display: flex;
            max-width: var(--wp-width-entry-max);
        }
        .post-nav{
            display: inline-block;
            width: 100%;
            @include breakpoint(tablet){
                width: 50%;
            }
        }
        .post-nav__prev,.post-nav__next{
            .post-nav__prev--header{
                margin-bottom: var(--theme-space-sm);
                display: block;
            }
            .post-nav__prev--title{
                overflow: hidden;
                display: -webkit-box;
            }
        }
        a{
            img{
                float: left;
            }
        }
        .post-nav__next{
            img{
                float: right;
                margin-right: 0;
            }
        }
    }
}

/* = 10.3 Comments */
.theme-comments{
    border-top: 0.1rem solid var(--theme-color-white-ter);
    .theme-comment-data{
        border-bottom: 0.1rem solid var(--theme-color-text-alt2);
        .theme-comment-gravatar{
            width: 48px;
            height: 48px;
            @include breakpoint(tablet){
                width: 64px;
                height: 64px;
            }
            img{
                object-fit: cover;
                width: 48px;
                height: 48px;

                box-shadow: var(--wp-post-image-box-shadow);
                box-sizing: border-box;
                border-radius: 50%;
                filter: var(--wp-image-filter);
                @include breakpoint(tablet){
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }
    .theme-comment-meta-links{
        &--separate{
            &:before{
                content: '·';
            }
        }
    }
    .theme-comment-list{
        li.comment{
            list-style-type: none;
        }
        border-bottom: 0.1rem solid var(--theme-color-white-ter);
        @include breakpoint(tablet){
            border-bottom: 0;
            > li.comment{
                border: 1px solid var(--theme-color-text-alt2);
            }
        }
    }
    .comment-respond{
        @include breakpoint(tablet){
            border: 1px solid var(--theme-color-text-alt2);
        }
        > form{
            > p{
                width: 100%;
            }
            input[type="email"], input[type="text"], select, textarea{
                border: 1px solid var(--theme-color-text-alt2);
            }
            input[type="email"],input[type="text"],select, textarea{
                width: 100%;
                &:focus,&:active{
                    outline: 0;
                    box-shadow: 0;
                }
            }
            @include breakpoint(tablet){
                > p{
                    &.comment-form-author, &.comment-form-email{
                        width: calc( 100% / 2 );
                    }
                }
            }
        }
    }
}

/* = 16.4 Menu */
.theme-header{}



