/*
|--------------------------------------------------------------------------
| = 10. Components
|--------------------------------------------------------------------------
*/
/* = 10.1 Author Box */
.theme-content{
    .author-box{
        border-top: 0.1rem solid var(--theme-color-white-ter);
        border-bottom: 0.1rem solid var(--theme-color-white-ter);
        .author-box__avatar{
            width: calc( var(--wp-width-author-box-avatar) - 4px ); // 84px - 4px
            img{
                width: calc( var(--wp-width-author-box-avatar-img) - 14px );
                height: auto;
                max-width: none;
            }
            @include breakpoint(tablet){
                width: calc( var(--wp-width-author-box-avatar-img) + 16px );
            }
        }
        @include breakpoint(tablet){
            max-width: var(--wp-width-entry-max);
        }
    }
}

/* = 10.2 Post Nav */
.theme-content{
    .posts-nav{
        display: block;
        @include breakpoint(tablet){
            display: flex;
            max-width: var(--wp-width-entry-max);
        }
        .post-nav{
            display: inline-block;
            width: 100%;
            @include breakpoint(tablet){
                width: 50%;
            }
        }
        .post-nav__prev,.post-nav__next{
            .post-nav__prev--header{
                margin-bottom: var(--theme-space-sm);
                display: block;
            }
            .post-nav__prev--title{
                overflow: hidden;
                display: -webkit-box;
            }
        }
        a{
            img{
                float: left;
            }
        }
        .post-nav__next{
            img{
                float: right;
                margin-right: 0;
            }
        }
    }
}

/* = 10.3 Comments */
.theme-comments{
    border-top: 0.1rem solid var(--theme-color-white-ter);
    .theme-comment-data{
        border-bottom: 0.1rem solid var(--theme-color-text-alt2);
        .theme-comment-gravatar{
            width: 48px;
            height: 48px;
            @include breakpoint(tablet){
                width: 64px;
                height: 64px;
            }
            img{
                object-fit: cover;
                width: 48px;
                height: 48px;

                box-shadow: var(--wp-post-image-box-shadow);
                box-sizing: border-box;
                border-radius: 50%;
                filter: var(--wp-image-filter);
                @include breakpoint(tablet){
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }
    .theme-comment-meta-links{
        &--separate{
            &:before{
                content: '·';
            }
        }
    }
    .theme-comment-list{
        li.comment{
            list-style-type: none;
        }
        border-bottom: 0.1rem solid var(--theme-color-white-ter);
        @include breakpoint(tablet){
            border-bottom: 0;
            > li.comment{
                border: 1px solid var(--theme-color-text-alt2);
            }
        }
    }
    .comment-respond{
        @include breakpoint(tablet){
            border: 1px solid var(--theme-color-text-alt2);
        }
        > form{
            > p{
                width: 100%;
            }
            input[type="email"], input[type="text"], select, textarea{
                border: 1px solid var(--theme-color-text-alt2);
            }
            input[type="email"],input[type="text"],select, textarea{
                width: 100%;
                &:focus,&:active{
                    outline: 0;
                    box-shadow: 0;
                }
            }
            @include breakpoint(tablet){
                > p{
                    &.comment-form-author, &.comment-form-email{
                        width: calc( 100% / 2 );
                    }
                }
            }
        }
    }
}

/* = 16.4 Menu */
.theme-menu{
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc( var(--wp-space-lg) * 2 );
    @include spacing( $direction: x, $size: var(--wp-space-lg));
    [id^="toggle"]:checked ~ .theme-menu__togger--subitem::after,
    > [id^="toggle"]:checked ~ .theme-menu__togger::after{
        content: " -";
    }
    &__logo{
        min-width: 120px;
        max-width: 400px;
        display: flex;
        h2, h2 a{
            padding: 0;
            margin: 0;
            color: var(--wp-heading-color);
            font-size: calc( var(--wp-body-font-size) + 2px);
            font-weight: 400;
            text-decoration: none;
            font-family: var(--wp-heading-font);
        }
        span{
            font-size: calc( var(--wp-body-font-size));
            color: var(--wp-menu-text-color);
        }
        &--separate{
            color: var(--wp-menu-text-color);
            &::before{
                content: '·';
            }
            margin: 0 20px;
        }
    }
    .theme-menu__togger {
        color: #fff;
        display: block;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
        width: inherit;
        cursor: pointer;
        @include breakpoint(tablet){
            display: none;
        }
        &::after{
            content: " +";
        }
    }

    .menu{
        .item,.item-mega{
            margin: 0;
            padding: 10px 12px;
            line-height: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            .item-with-child{
                order: 1;
            }
            .theme-menu__togger--subitem{
                order:2;
            }
            .submenu,.container-mega{
                order:3;
            }
            .container-mega{
                max-width: 100%;
                width: 100%;
                height: 200px;
                background-color: blue;
            }
            & > .submenu{
                padding: 10px;
                .item{
                    margin: 0;
                }
            }
        }
        .item, .item > a{
            color: var(--wp-menu-level1-color-link);
            display: flex;
            //padding: 5px;
            text-decoration: none;
            word-wrap: break-word;
            cursor: pointer;
            font-family: var(--wp-menu-livel1-font-family);
            font-size: var(--wp-menu-livel1-font-size);
        }
        .theme-menu__togger--subitem{
            cursor: pointer;
            padding: 5px 15px;
            background: #000;
            color: gray;
            @include breakpoint(tablet){
                float: initial;
                padding: initial;
                background: transparent;
                float: right;
            }
        }
        .theme-menu__togger--subitem::after {
            content: " +";
        }
    }

    .menu,.submenu,[id^="toggle"]{
        //background: #000;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }

    [id^="toggle"]:checked ~ .menu,
    [id^="toggle"]:checked ~ .submenu,
    [id^="toggle"]:checked ~ .container-mega{
        display: block;
    }

    .menu{
        @include breakpoint(tablet){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            position: relative;
            [id^="toggle"] {
                display: none;
            }
            .submenu{
                transition: 200ms all ease-in-out;
                transform: translateY(-10%);
                min-width: 150px;
            }
            .menu, .submenu{
                display: initial;
            }
            .item {
                display: flex;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                flex-wrap: nowrap;
                .item-with-child{
                    order: 1;
                }
                .theme-menu__togger--subitem{
                    order:2;
                }
                .submenu{
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                }
                & > .submenu{
                    left: 0;
                    top: 100%;
                    & > .item{
                        position: relative;
                        & > .submenu{
                            left: 100%;
                            top: 0;
                        }
                        &:hover{
                            & > .submenu{
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
                &:hover{
                    > .submenu{
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(0%);
                    }
                }
            }
            > .item-mega{
                position: initial;
                .container-mega{
                    position: absolute;
                    left: 0;
                    top: 100%;
                }
                &:hover{
                    .container-mega{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .item{
                &:hover > .item-with-child + .submenu,
                &:hover > .item-with-child + .menu{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    @include breakpoint(tablet){
        [id^="toggle"]:checked ~ .menu{
            display: inline-flex;
        }
        [id^="toggle"]:checked ~ .submenu,
        [id^="toggle"]:checked ~ .container-mega{
            visibility: hidden;
            opacity: 0;
        }
        .item{
            &:hover > .item-with-child + .submenu,
            &:hover > .item-with-child + .menu{
                visibility: visible;
                opacity: 1;
            }
            &:hover{
                > [id^="toggle"]:checked ~ .theme-menu__togger--subitem::after{
                    content: " -";
                }
                > .theme-menu__togger--subitem::after{
                    content: " -";
                }
            }
        }
        .item > [id^="toggle"]:checked ~ .theme-menu__togger--subitem::after,
        > [id^="toggle"]:checked ~ .theme-menu__togger::after{
            content: " +";
        }
    }
}

/* = 16.5 Pagination */

.pagination{
    display: flex;
    justify-items: center;
    margin: calc( var(--wp-space-lg) * 2 ) auto;
    font-family: var(--wp-body-font2);
    &__items{
        margin:0 auto;
        padding: 0;
        display: inline-block;
        list-style-type: none;
    }
    &__item{
        display: inline-block;
        font-size: var(--wp-pagination-font-size);
        margin: 0;
        margin-right: 1rem;
        font-weight: 700;
        > a{
            font-size: var(--wp-pagination-font-size);
            font-family: var(--wp-body-font2);
            padding: .9rem 2rem;
            color: var(--wp-pagination-item-color);
            background: var(--wp-pagination-item-background);
            text-decoration: none;
            &:hover{
                color: var(--wp-pagination-item-color-hover);
                background: var(--wp-pagination-item-background-hover);
            }
        }
        &--current{
            padding: .9rem 1.6rem;
            color: var(--wp-pagination-item-color-hover);
            background: var(--wp-pagination-item-background-hover);
        }
        &--dots{
            font-size: var(--wp-pagination-font-size);
            font-family: var(--wp-body-font2);
            padding: .9rem 1.5rem;
            color: var(--wp-pagination-item-color);
            background: var(--wp-pagination-item-background);
        }
        &--number{}
        &--next{}
        &--prev{}
    }
}