@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}
@function _return_rem($values, $based: 10) {
  $px: ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
    } @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == 'px' {
        //$px: append($px, $value);
        $rem: append($rem, ($val / $based + rem));
      }

      @if $unit == 'rem' {
        $rem: append($px, ($val * $based + px));
        // $rem: append($rem, $value);
      }
    }
  }
  @return $rem;
  @if $px == $rem {
    @return $rem;
  } @else {
    @return $px;
  }
}