/*
|.------------------------------------------------------------------
| = 5. Layout
|--------------------------------------------------------------------------
*/
/* ─── Form ──────── */
.radio-list, .checkbox-list { // e.g., .radio-list > li > input + label
  > * { // parent of input + label
    display: flex;
    align-items: baseline;
    input {
      flex-shrink: 0;
    }
  }
}

/* ─── Layouts ──────── */
/* classes used to center content on x-axis and set content max width */
.container {
  max-width: 100%;
  @include breakpoint(tablet-big){
    max-width: var(--wp-max-width-container);
  }
}
/* Main Layouts */
.theme-header, .theme-content, .theme-footer{
  @include breakpoint(tablet-big){
    max-width: var(--wp-max-width-theme);
  }
}
/* Home & Archive */
.home, .archive{
  .theme-header, .theme-content, .theme-footer{
    @include breakpoint(tablet){
      max-width: 100%;
    }
  }
  .theme-content{
    grid-template-areas: "content" "navigation";
    .content{
      max-width: var(--wp-max-width-lg);
      display: grid;
      justify-self: center;
      grid-gap: var(--wp-space-xl);
      grid-template-columns: 1fr;
      @include breakpoint(mobile-big){
        grid-template-columns: 1fr 1fr;
      }
      @include breakpoint(tablet-lands){
        grid-template-columns: 1fr 1fr 1fr;
      }
      > article.post.post__featured{
        .entry-meta,.entry-content{
          max-width: var(--wp-max-width-s);
        }
        .entry-featured-image{
          display:none;
        }
        @include breakpoint(mobile-big){
          grid-column: span 2;
        }
        display: grid;
        align-items: center;
        justify-content: center;
      }
      .entry_content{
        dl.gallery-item{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: self-start;
        }
      }
    }
  }
}
.archive{
  .theme-content{
    grid-template-areas: "header-archive" "content" "navigation";
  }
}
/* Header */
.theme-header{
  .header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &__logo{
      display: flex;
      h1,h2{
        display: flex;
        align-self: center;
      }
      &--description{
        display: none;
        @include breakpoint(tablet-lands){
          display: flex;
          align-self: center;
        }
      }
      &--separate{
        &::before{
          display: flex;
          align-items: center;
        }
      }
    }
  }
  @include breakpoint(tablet-big){
    max-width: 100%;
  }
}
/* Content & Sidebar */
.theme-content{
  display: block;
  @include breakpoint(tablet-lands){
    display: grid;
  }
  .content{
    grid-area: content;
    grid-column: span 2;
  }
  .sidebar{
    grid-area: sidebar;
    display: none;
  }
  .pagination{
    grid-area: navigation;
    grid-column: span 2;
  }
  .header-archive{
    grid-area: header-archive
  }
}
/* Footer */
.theme-footer{
  max-width: 100%;
  .footer__sidebar{
    max-width: 100%;
    width: 100%;
    justify-content: center;
    @include breakpoint(tablet-big){
      display:grid;
      grid-gap: var(--wp-space-lg);;
      justify-self: center;
    }
    &.footer-3{
      grid-template-columns: 1fr;
      @include breakpoint(tablet){
        grid-template-columns: repeat(2, 1fr);
      }
      @include breakpoint(tablet-lands){
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &.footer-2{
      grid-template-columns: 1fr 1fr;
    }
  }
  @include breakpoint(tablet-big){
    display: grid;
  }
}
.theme-footer-bar{
  max-width: 100%;
}

/* 404 */
.error404{
  .theme-content{
    display:block;
  }
}

/* ─── Components :: layout ──────── */
/* Author Box :: layout */
.theme-content{
  .author-box{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
/* Comments :: layout */
.theme-comments{
  .theme-comment-data{
    display: flex;
    .theme-comment-metas{
      display: flex;
      flex-direction: column;
    }
  }
  .theme-comment-meta-links{
    display: flex;
    flex-direction: row;
  }
  .comment-respond{
    > form{
      @include breakpoint(tablet){
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
/* Menu :: layout */
.header-wrap__menu{
  .theme-menu{
    min-height: var(--wp-menu-min-height);
    .menu-item,.menu-item-mega{
      display: grid;
      &.menu-item-has-children{
        order: 1;
        &__icon{
          display:none;
          justify-content: center;
          @include breakpoint(tablet-big){
            display: flex;
          }
        }
        display: grid;
        grid-template-columns: 1fr 60px;
        @include breakpoint(tablet-big){
          display: flex;
        }
      }
      .sub-menu,.container-mega{
        order:3;
        grid-column: 2 span;
      }
    }
    .menu-item a{
      display: flex;
      align-items: center;
      height: 100%;
      @include breakpoint(tablet-big){
        width: 100%;
      }
    }
    &__togger{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      &--subitem{
        order:2;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @include breakpoint(tablet-big){
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      .menu-item {
        display: flex;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        .menu-item-has-children{
          order: 1;
        }
        .menu-item-has-children{
          > a .menu-item__icon{
            display: flex;
            justify-content: center;
          }
        }
      }
      &__togger{
        &--subitem{
          order:2;
          display: none;
        }
      }
    }
  }
}
/* Pagination :: layout */
.pagination{
  display: flex;
  justify-items: center;
  &__items{
      display: inline-block;
  }
  &__item{
      display: inline-block;
  }
}
/* Breadcrumbs :: layout */
.breadcrumbs-wrap{
  display:none;
  @include breakpoint(tablet-big){
    display:block;
  }
  .breadcrumbs{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}