/*
|--------------------------------------------------------------------------
| = 1. Reset
|--------------------------------------------------------------------------
*/
*, *::after, *::before {
  box-sizing: inherit;
}
html{
  font-size: var(--theme-text-rem-initial, 10px); /* = 62.5% from 16px, then 0.1rem = 1px. 1.8rem = 18px */;
  -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
}
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ul, ol {
  list-style-type: disc;
}
blockquote{
  display   : block;
  box-sizing: border-box;
}
blockquote, q, p, a, span,h1,h2,h3,h4,h5,h6{
  word-break: break-all;
}
blockquote, q {
  quotes: none;
}
q{
  opacity: .9;
}
sub,sup{
  position: relative;
  top: 0.5em;
  font-size: 80%;
}
sup{
  top: -0.5em;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  overflow-x: auto;
}
table td, table ,th{
  word-break: break-all;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
iframe{
  max-width: 100%;
}
video,
audio,
iframe{
  width: 100% !important;
}
code {
  border-radius: 3px;
}
hr {
  height: 0;
  border: none;
  border-top: 1px dashed #b3b3b3;
}
blockquote {
  display:block;
  position: relative;
  border-left: 15px solid #A1B2BA;
  border-right: 1px dotted #EBF2F8;
  box-shadow: -1px 2px 8px #efefef;
}
blockquote:before{
  content: '\201C';
  position: absolute;
  left: 10px;
  top:5px;
}
blockquote:after{
  content: '';
}
blockquote a{
  cursor: pointer;
}
dl:after {content:"";display:table;clear:both;}
dl {
  width:100%;
}
dt, dd {
  display:inline-block;
  width:30%;
}
dt {
  clear:left;
  float:left;
}
dd {
  width:70%;
  clear:right;
}
dd + dd {
  float:right;
  clear:both;
}
dd + dt {
  clear:both;
}
dt + dt {
  width: 100%;
  float: none;
}