/*
|--------------------------------------------------------------------------
| = 1. Reset
|--------------------------------------------------------------------------
*/
*, *::after, *::before {
  box-sizing: inherit;
}
html{
  font-size: var(--theme-text-rem-initial, 10px); /* = 62.5% from 16px, then 0.1rem = 1px. 1.8rem = 18px */;
  -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
}
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: var(--theme-text-base-size);
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: var(--theme-body-line-height);
}
ol, ul {
  list-style: none;
}
blockquote{
  line-height: var(--theme-body-line-height);
  color      : var(--theme-grey-dark);
  @include spacing_inline( $attr: margin, $top: var(--theme-space-md), $right:0, $bottom:0 );
  @include spacing( $direction: x, $size: var(--theme-space-md) );

  display   : block;
  font-style: italic;
  box-sizing: border-box;
  font-style: italic;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  display: block;
}
iframe{
  max-width: 100%;
  /* height: auto; */
}
code, pre {
  font-family: Source Code Pro,Monaco,Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Courier New,Courier,monospace;
}