/*
|--------------------------------------------------------------------------
| = 2. Typography
|--------------------------------------------------------------------------
*/
/* ─── Reset ──────── */
body{
  line-height: var(--wp-body-line-height);
  font-family: var(--wp-body-font);
  font-size: var(--wp-body-font-size);
}
p,li,ul,ol,blockquote,i,em,code,a{
  font-size: var(--wp-tags-font-size);
}
blockquote{
  font-style: italic;
}
a, .link {
  text-decoration: underline;
}
strong {
  font-weight: bold;
}
s {
  text-decoration: line-through;
}
u, .text-underline {
  text-decoration: underline;
}
form{
  font-size: var(--wp-body-font);
}
code, pre {
  font-family: Source Code Pro,Monaco,Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Courier New,Courier,monospace;
}
code{
  font-size: .789em;
  font-style: normal;
}
td, th {
  text-align: left;
}

/* ─── Global Responsive Font ──────── */
@include breakpoint(mobile){
  html{
    font-size: 9px;
  }
}
@include breakpoint(mobile-lands){
  html{
    font-size: 10px;
  }
}
@include breakpoint(tablet){
  html{
    font-size: 10px;
  }
}
@include breakpoint(tablet-lands){
  html{
    font-size: 10px;
  }
}
@include breakpoint(desktop){
  html{
    font-size: 10px;
  }
}
@include breakpoint(desktop-lands){
  html{
    font-size: 10px;
  }
}

/* ─── Heading ──────── */
.text-xxxxxl {
  font-size: var(--wp-text-xxxxxl);
}
h1, .text-xxl {
  font-size: var(--wp-heading-h1);
}
h2, .text-xl {
  font-size: var(--wp-heading-h2);
}
h3, .text-lg {
  font-size: var(--wp-heading-h3);
}
h4, .text-md {
  font-size: var(--wp-heading-h4);
}
.text-base {
  font-size: var(--wp-text-base-size);
}
h5, small, .text-sm {
  font-size: var(--wp-heading-h5);
}
h6, .text-xs {
  font-size: var(--wp-heading-h6);
}
h1, .text-xxl,h2, .text-xl,h3, .text-lg,h4, .text-md,.text-base,h5, small, .text-sm,h6, .text-xs{
  line-height: calc( var(--wp-heading-line-height) + 3px );
  font-family: var(--wp-heading-font);
}


/* ─── Forms ──────── */
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover, input[type=submit]:focus,
input[type=submit]:hover {
  text-decoration: underline;
}
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
select{
  font-size: var(--wp-body-font-size);
}
legend {
  font-size: var(--wp-text-md);
}
button, input, select, textarea {
  font-family: var(--wp-body-font);
}
button, input[type=button], input[type=reset], input[type=submit]{
  font-family: var(--wp-body-font2);
}
// error message
.form__msg-error, .form-error-msg { // .form__msg-error is fallback for older framework versions
  font-size: var(--wp-text-sm);
}
.button, input[type="submit"], input[type="button"]{
  font-size: var(--wp-form-button-text-size);
  &:hover{
    text-decoration: underline;
  }
}
.button--sm { font-size: var(--btn-font-size-sm, 0.8rem); }
.button--sm { font-size: var(--btn-font-size-md, 1.2rem); }
.button--sm { font-size: var(--btn-font-size-lg, 1.4rem); }

/* ─── Utils ──────── */
.icon {}
// icon size
.icon--xxxs { font-size: var(--theme-icon-xxxs); }
.icon--xxs { font-size: var(--theme-icon-xxs); }
.icon--xs  { font-size: var(--theme-icon-xs); }
.icon--sm  { font-size: var(--theme-icon-sm); }
.icon--md  { font-size: var(--theme-icon-md); }
.icon--lg  { font-size: var(--theme-icon-lg); }
.icon--xl  { font-size: var(--theme-icon-xl); }
.icon--xxl { font-size: var(--theme-icon-xxl); }

/* ─── WP Core ──────── */
figure figcaption,.wp-caption-text {
  font-size: var(--wp-text-md);
  //line-height: var(--wp-body-line-height);
  font-family: var(--wp-body-font2);
  text-align: center;
}
.wp-caption {
  text-align: center;
  p.wp-caption-text, figure figcaption{
    font-size: var(--wp-text-md);
    //line-height: var(--wp-body-line-height);
    font-family: var(--wp-body-font2);
    text-align: center;
  }
}
.gallery{
  .gallery-caption{
    text-align: center;
  }
}
#wp-calendar{
  caption{
    text-transform: capitalize;
  }
}
.widget_calendar{
  a{
    font-weight: bold;
    font-size: 1.0em;
    text-decoration: underline;
  }
}
/* Text meant only for screen readers. */
.screen-reader-text {
  &:focus {
    font-size: 0.875rem;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
}

/* ─── WP Styles ──────── */
/* Header */
.header-wrap{
  &__logo{
    h1, h1 a,h2, h2 a{
      font-size: calc( var(--wp-body-font-size) + 2px);
      font-weight: 400;
      text-decoration: none;
      font-family: var(--wp-heading-font);
    }
    span{
      font-size: calc( var(--wp-body-font-size));
    }
  }
}
/* Content */
.theme-content{
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .content{
    .entry-header{
      text-align: center;
      h1, h1 a{
        font-size: calc(var(--wp-heading-h1) - 4px);
        @include breakpoint(tablet-big){
          font-size: calc(var(--wp-heading-h1) + 4px);
        }
        font-weight: 400;
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
      }
    }
    .entry-meta{
      text-align: center;
      font-family: var(--wp-font-secondary);
      a,time,span{
        font-family: var(--wp-font-secondary);
        font-size: var(--wp-text-md);
      }
      a{
        text-decoration: underline;
      }
      &.entry_meta_location_bottom{
        text-align: left;
      }
    }
    .entry-featured-image{
      @include breakpoint(tablet){
        text-align: center;
      }
    }
    .entry-content{
      font-size: var(--wp-post-font-size);
      p{
        font-size: var(--wp-post-font-size);
        line-height: 1.8;
      }
      h1,h2,h3,h4,h5,h6{
        font-weight: 400;
      }
      .fb_iframe_widget{
        text-align: center;
      }
    }
    .no-comments{
      text-align: center;
    }
  }
}
/* Single */
.single{
  .theme-content{
    .content{
      .entry-content{
        > p:first-child:first-letter{
          font-size: var(--wp-text-xxxxxl);
          line-height: 60px;
          font-weight: 700;
          text-transform: capitalize;
          float: left;
        }
      }
    }
  }
}
/* Home & Archive */
.home, .archive{
  .theme-content{
    .content{
      > article.post{
        .entry-header{
          text-align: left;
          h2{
            line-height: 0;
            a{
              line-height: 1.5;
              font-size: calc( var(--wp-body-font-size) + 2px);
              font-weight: 400;
            }
          }
        }
        .entry-meta{
          text-align: left;
          span,a,time{
            font-size: var(--wp-post-font-meta); // calc( var(--wp-body-font-size) - 2px) ;
          }
        }
        .entry-content{
          font-size: calc( var(--wp-body-font-size) - 2px);
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3; /* number of lines to show */
          overflow: hidden;
        }
      }
    }
    .content{
      article.post.post__featured{
        text-shadow: 1px 1px 2px rgba(0,0,0,.5);
        .post__block{
          text-align: center;
          .entry-header,.entry-header h2,.entry-meta, .entry-content,.entry-content p{
            text-align: center;
          }
          .entry-header h2 a{
            font-size: calc( var(--wp-text-xxxl ) + 3px);
          }
          .entry-meta{
            font-size:  calc( var(--wp-body-font-size) - 3px);
            a,time,span{
              font-size:  calc( var(--wp-body-font-size) - 3px);
            }
          }
          .entry-content{
            font-size:  var( --wp-tags-font-size );
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* number of lines to show */
            overflow: hidden;
          }
        }
      }
    }
  }
}
/* Archive */
.archive{
  .theme-content{
    .header-archive{
      h1{
        span{
          font-style: italic;
        }
      }
    }
  }
}
/* Footer */
.theme-footer{
  .footer__sidebar{
    .widget{
      .widget-title,.widget__title{
        font-size: var(--wp-text-lg);
        font-family: var(--wp-body-font);
        font-weight: 400;
      }
      .widget-content,.widget__content{
        font-family: var(--wp-body-font2);
        font-size: var(--wp-text-md);
        a{
          font-size: var(--wp-text-md);
          font-family: var(--wp-body-font2);
        }
      }
    }
    &.footer-1 > div{
      text-align: center;
    }
  }
}
.theme-footer-bar{
  text-align: center;
  font-size: var(--wp-text-md);
  p{
    font-size: var(--wp-text-md);
    font-family: var(--wp-body-font2);
  }
  ul, li, ol{
    font-size: var(--wp-text-md);
    font-family: var(--wp-body-font2);
    a{
      font-family: var(--wp-body-font2);
      text-decoration: none;
    }
  }
  ol, ul{
    text-align: center;
  }
  ul{
    text-align: center;
  }
}
/* 404 */
.error404{
  .theme-content{
    .content{
      text-align: center;
      h2{
        font-size: 10rem;
      }
    }
  }
}

/* ─── Components ──────── */
/* Post Nav */
.theme-content{
  .posts-nav{
    font-size: 15px; /* parent font [em inner] */
    .post-nav__prev,.post-nav__next{
      .post-nav__prev--header{
        text-transform: uppercase;
      }
      .post-nav__prev--title{
        font-size: .9em;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* number of lines to show */
        @include breakpoint(tablet){
          font-size: 1em; // based on the font size of the father
        }
      }
    }
    a{
      text-decoration: none;
      font-size: em( var(--wp-text-base) );
    }
    .post-nav__next{
      .post-nav__prev--header,.post-nav__prev--title{
          text-align: right;
      }
    }
  }
}
/* Author Box */
.theme-content{
  .author-box{
    .author-box__meta{
      .author-box__meta--header{
        a{
          @include lhCrop( $line-height: var(--wp-body-line-height), $value: 1em );
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
}
/* Comments */
.theme-comments{
  a{
    font-size: 1.6rem;
  }
  h1,h2,h3,h4,h5,h6{
    font-weight: 400;
  }
  .theme-comment-data{
    .theme-comment-metas{
      @include breakpoint(tablet){
      }
      .theme-comment-meta-author{
        a{
            font-weight: 700;
            text-decoration: none;
        }
      }
    }
  }
  .theme-comment-content{
    > p{
      line-height: 1.7;
    }
  }
}
/* Menu */
.header-wrap__menu{
  .theme-menu{
    .menu-item, .menu-item > a{
      text-decoration: none;
      word-wrap: break-word;
      font-family: var(--wp-menu-livel1-font-family);
    }
    > .menu-item > a{
      font-size: var(--wp-menu-resposive-livel1-font-size);
      @include breakpoint(tablet-big){
        font-size: var(--wp-menu-livel1-font-size);
      }
    }
    .menu-item-has-children{
      .sub-menu .menu-item a {
        font-size: calc( var(--wp-text-ml) * 1.2 );
        @include breakpoint(tablet-big){
          font-size: var(--wp-menu-livel1-font-size);
        }
      }
    }
    .menu-item,.menu-item-mega{
      line-height: 1;
    }
    &__togger{
      text-align: center;
      text-transform: uppercase;
      &--subitem{
        &::after {
          font-size: var(--wp-text-xl); // 1.3rem;
        }
      }
    }
  }
}
/* Pagination */
.pagination{
  font-family: var(--wp-body-font2);
  &__items{
    text-align: center;
  }
  &__item{
      font-size: var(--wp-pagination-font-size);
      font-weight: 700;
      line-height: 1;
      > a, span{
          font-size: var(--wp-pagination-font-size);
          font-family: var(--wp-body-font2);
          text-decoration: none;
      }
      &--dots{
          font-size: var(--wp-pagination-font-size);
          font-family: var(--wp-body-font2);
      }
  }
}
/* Post pagination */
.post-nav-links{
  text-align: center;
    a.post-page-numbers, span.post-page-numbers{
      font-size: var(--wp-pagination-font-size);
      font-weight: 700;
      line-height: 1;
    }
}
/* Comments pagination */
.comments-paginate{
  text-align: center;
    a.page-numbers, span.page-numbers{
      font-size: var(--wp-pagination-font-size);
      font-weight: 700;
      line-height: 1;
    }
}
/* Breadcrumbs */
.breadcrumbs-wrap{
  line-height: 1;
  .breadcrumbs{
    .item-breadcrumbs{
      font-size: var(--wp-text-md);
      a{
        font-size: var(--wp-text-md);
        text-decoration: none;
      }
      &.item-home{
        i{
          font-size: var(--wp-text-sm);
        }
      }
    }
  }
}
/* Button top up */
.theme-button-back-to-top{
  text-align: center;
  &:after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
  }
}