/*
|--------------------------------------------------------------------------
| = 15. Wordpress theme
|--------------------------------------------------------------------------
*/
/* = 15.1 WP class */
.wp-caption-text {
  font-size: var(--theme-text-sm);
  line-height: 1.1;
  color: #9a9b97;
  margin-top: 5px;
  margin-top: .3125em;
  display: inline-block;
}
.aligncenter { display: block; margin: 0 auto; }
.alignright { float: right; margin: 0 0 1em 1em; }
.alignleft { float: left; margin: 0 1em 1em 0; }
.floatleft { float: left; }
.floatright { float: right; }
img{
  &.aligncenter,&.alignright,&.alignleft{
    border: 1px solid #EEE;
  }
}
.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding: 4px;
  margin: 10px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  max-width: 100%!important;
}
.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
  max-width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
.gallery .gallery-item{
  position:relative;
}
.gallery .gallery-caption{
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
  min-height: 41px;
}
.gallery .gallery-icon img{
  border-radius: 2px;
  background: #F8F8F8;
  box-shadow: 0px 0px 1px #FFF;
  padding: 5px;
  border: 0!important;
  max-width: 85%;
  min-width: 25%;
}
.gallery .gallery-row {
  clear: both;
  display: block;
  margin: 0;
  overflow: hidden;
  padding-bottom: 30px;
}
.gallery a img {
  border: none;
}
.gallery-columns-4 .gallery-item {
  width: 25%;
}
.gallery-columns-4 .gallery-item img {
  width: 100%;
  height: auto;
}
.bypostauthor {
  /*background: #FCFFE0!important;*/
  /*box-shadow: 0px 1px 10px rgb(218, 218, 218)!important;*/
}
.bypostauthor > .comment-body > .comment-meta > .comment-content{
  border-left: 2px solid rgba(42, 100, 150, 0.50);
  padding-left: 10px;
}
.bypostauthor .commentmetadata,
li[class*="comment-author-"] .commentmetadata,
li[class^="comment-author-"] .commentmetadata{
  margin-top: 5px;
}
#wp-calendar{margin: 0;}
#wp-calendar caption{
  margin: 0;
  background: #FAFAFA;
  text-transform: capitalize;
  padding: 10px;
}
.widget_calendar{}
.widget_calendar a{
  font-weight: bold;
  font-size: 1.0em;
  text-decoration: underline;
}
a.more-link{
  padding: 4px!important;
  color: #353535!important;
}
a.more-link:hover{
  color: #fff!important;
}
footer #wp-calendar caption{
  background: #252525;
}
footer #wp-calendar th,
footer #wp-calendar tbody tr,
footer #wp-calendar tfoot{
  background: transparent;
}
footer #wp-calendar th,footer #wp-calendar  td, footer #wp-calendar table{
  border: 1px solid #3C3C3C;
}
.searchform {
  input{
    margin: 5px 0;
  }
}
.wp-smiley{
  margin: 0!important;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* = 15.2 Layouts styles */
.theme-layout{
  padding-top: 0;
  @include breakpoint(tablet){
    padding: 0;
  }
}

/* = 15.3 Content */
.theme-content{
  .content{
    background-color: var(--theme-color-white);
    padding: var(--theme-space-md);
    .entry-header{
      @include spacing($attr: margin, $direction: b, $size: var(--theme-space-sm));
      text-align: center;
      h1{
        font-size: calc(var(--theme-text-xxxxl) + 4px);
        font-weight: 400;
      }
      @include breakpoint(tablet){
        h1{
          text-align: left;
        }
      }
    }
    .entry-meta{
      color: var(--theme-color-text-other);
      @include spacing($attr: margin, $direction: t, $size: var(--theme-space-sm));
      @include spacing($attr: margin, $direction: b, $size: var(--theme-space-sm));
      display: flex;
      justify-content: center;
      font-family: "Lato";
      a,time,span{
        font-family: "Lato";
        font-size: var(--theme-text-md);
      }
      .entry-meta--separate{
        @include spacing($attr: margin, $direction: x, $size: var(--theme-space-xxs));
        &:before{
          content: '·';
        }
      }
    }
    .entry-featured-image{
      max-width: var(--theme-max-width-md);
      @include spacing($attr: margin, $direction: t, $size: var(--theme-space-sm));
      @include spacing($attr: margin, $direction: b, $size: var(--theme-space-sm));
      img{
        max-width: 100%;
        height: auto;
      }
      @include breakpoint(tablet){
        text-align: center;
      }
    }
    .entry-content{
      p,ul,ol,blockquote{
        @include spacing($attr: margin, $direction: b, $size: var(--theme-space-lg));
        line-height: calc( var(--theme-space-lg) + 1px );
      }
      ul, ol {
        margin: 0 0 var(--theme-space-md) calc( var(--theme-space-lg) + var(--theme-space-xs) );
        li{
          @include spacing($attr: margin, $direction: b, $size: var(--theme-space-xxs));
        }
      }
      ul{
        list-style: square;
      }
      > p > img{
        width: 100%;
        height: auto;
      }
    }
  }
  .sidebar{
    background-color: var(--theme-white-ter);
    .widget{
      margin: var(--theme-space-sm);
      background-color: var(--theme-grey-light);
      .widget-title{
        padding-left: var(--theme-space-sm);
        padding-right: var(--theme-space-sm);
        background-color: var(--theme-grey-lighter);
      }
      .widget-content{
        padding: var(--theme-space-sm);
      }
    }
  }
}

/* = 15.4 Forms */
textarea, input[type="text"],input[type="password"],input[type="number"],
input[type="search"]{
  border-color: var(--theme-grey-lighter);
  transition: 100ms all var(--theme-ease-in-out);
}
textarea:active, input[type="text"]:active,input[type="password"]:active,input[type="number"]:active,
input[type="search"]:active,
textarea:focus, input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,
input[type="search"]:focus,
textarea:hover, input[type="text"]:hover,input[type="password"]:hover,input[type="number"]:hover,
input[type="search"]:hover{
  outline: 0;
  border-color: var(--theme-color-primary);
}

/* = 15.5 Header */
.theme-header{
  .layout-header{
    height: calc( var(--theme-space-xxl) - 15px ) ;
    @include spacing($direction: l, $size: var(--theme-space-lg));
    font-size: var(--theme-text-xl);
    a,h1{
      font-size: calc(var(--theme-text-xl) - 3px);
      color: var(--theme-color-text);
      text-decoration: none;
    }
  }
}

/* = 15.6 Footer */
.theme-footer{
  background-color: var(--theme-grey-lighter);
  .footer{
    .widget{
      margin: var(--theme-space-sm);
      background-color: var(--theme-grey-light);
      .widget-title{
        padding-left: var(--theme-space-sm);
        padding-right: var(--theme-space-sm);
        background-color: var(--theme-black-te);
      }
      .widget-content{
        padding: var(--theme-space-sm);
        background-color: var(--theme-white-ter);
      }
    }
    &.footer-1{
      background-color: var(--theme-white-ter);
    }
    &.footer-1 > div{
      text-align: center;
    }
  }
}
