/*
|--------------------------------------------------------------------------
| = 10. Components
|--------------------------------------------------------------------------
*/
/* ─── Forms ──────── */
textarea, input[type="text"],input[type="password"],input[type="number"],
input[type="search"]{
  border-color: var(--theme-color-grey-lighter);
}
textarea:active, input[type="text"]:active,input[type="password"]:active,input[type="number"]:active,
input[type="search"]:active,
textarea:focus, input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,
input[type="search"]:focus,
textarea:hover, input[type="text"]:hover,input[type="password"]:hover,input[type="number"]:hover,
input[type="search"]:hover{
  outline: 0;
  border-color: var(--wp-primary-color);
}

/* ─── Table ──────── */
table{
  max-width: 100%;
  width: 100%;
}
table caption,
table caption:first-child{
  padding: var(--wp-space-sm);
}
td, th {
  border: 1px solid #ddd;
}

th, th:first-child{
  vertical-align: middle;
}

/* ─── WP Styles ──────── */
/* Header */
.header-wrap{
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--theme-color-white-ter);
  [id^="toggle"]:checked ~ .theme-menu__togger--subitem::after,
  > [id^="toggle"]:checked ~ .theme-menu__togger::after{
    content: "-";
  }
  &__logo{
    min-width: var(--wp-logo-min-width,120px);
    max-width: var(--wp-logo-min-width,400px);
    height: 50px;
    &--separate{
      display: none;
      @include breakpoint(tablet-big){
        display: inline;
      }
      &::before{
        @include breakpoint(tablet-big){
          content: '·';
          height: 100%;
        }
      }
    }
  }
}
/* Content */
.theme-content{
  .content{
    .entry-meta{
      .entry-meta__separate{
        &:before{
          content: '·';
        }
      }
      > span + .entry-meta__separate:last-child{
        display: none;
      }
      > time + .entry-meta__separate:last-child{
        display: none;
      }
    }
    .entry-featured-image{
      max-width: var(--wp-post-featured-image-max-width);
      img{
        max-width: 100%;
        height: auto;

        box-shadow: var(--wp-post-featured-box-shadow);
        box-sizing: border-box;
        filter: var(--wp-image-filter);
      }
    }
    .entry-content{
      > p > img{
        max-width: 100%;
        height: auto;
      }
      img{
        box-shadow: var(--wp-post-image-box-shadow);
        box-sizing: border-box;
        filter: var(--wp-image-filter);
      }
      @include breakpoint(tablet-big){
        p,ul,ol,blockquote,h1,h2,h3,h4,h5,h6{
          max-width: var(--wp-max-width-s);
        }
        ul.blocks-gallery-grid{
          max-width: 100%;
        }
      }
      p + figure:not(.wp-block-gallery), p + video, p + audio{
        position: relative;
        height: 0;
      }
      figure, video, audio {
        > iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      > iframe{
        min-height: 300px;
        @include breakpoint(tablet-big){
          min-height: 450px;
        }
      }
      twitter-widget{
        @include spacing($attr: margin, $direction: x, $size: auto!important);
      }
      .fb_iframe_widget{
        text-align: center;
      }
    }
  }
}
/* Home & Archive */
.home, .archive{
  .theme-content{
    .content{
      article.post.post__featured{
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        &::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 0;
          opacity: .7;
        }
        .post__block{
          z-index: var(--theme-zindex-over);
        }
        min-height: 400px;
      }
      article.post .entry-featured-image{
        img{
          object-fit: cover;
          width: 100%;
          min-height: 230px;
          max-height: 100vh;
          height: 0;
        }
      }
    }
  }
}
.archive{
  .theme-content{
    .header-archive{
      border-bottom: 1px solid var(--theme-color-white-ter);
    }
  }
}
/* Single */
.single{
  .theme-content{
    .content{
      .entry-content{
        > p:first-child:first-letter{
          float: left;
        }
      }
    }
  }
}
/* Footer */
.theme-footer{
  border-top: 1px solid var(--theme-color-white-ter);
  .footer__sidebar{
    .widget{
      li{
        list-style-type: circle;
      }
    }
    &.footer-1,&.footer-3,&.footer-2{
      max-width: var(--wp-max-width-lg);
    }
  }
}
.theme-footer-bar{
  overflow: hidden;
  ul, li, ol{
    overflow: hidden;
  }
  ol, ul{
    li{
      display: inline-block;
    }
  }
}