/*
|.------------------------------------------------------------------
| = 7. Zindex
|--------------------------------------------------------------------------
*/
.zindex-header{
  z-index: var(--theme-zindex-header);
}
.zindex-popover{
  z-index: var(--theme-zindex-popover);
}
.zindex-fixed-elemen{
  z-index: var(--theme-zindex-fixed-element);
}
.zindex-overlay{
  z-index: var(--theme-zindex-overlay);
}